html, body {
    width: 100%;
    height: 100%;
}
body, div {
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff;
    text-align: center;
}
table {
    margin-left: auto;
    margin-right: auto;
}
td {
    border: 2px solid black;
    height: 18.8em;
    width: 18.8em;
}
img {
    width: 18.8em;
    height: 18.8em;
}
li {
    list-style: none;
}
#desktop {
    size:  2px;
}
.shop_hm li.m {
    background-position: 0 0;
    padding-top: 0;
}
.shop_hm li.m2 {
    background: url(https://d30y9cdsu7xlg0.cloudfront.net) no-repeat;
}
.shop_hm li {
    float: left;
}
.gnb {
    /*position: fixed;*/
    position: static;
    z-index: 105;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #dfdfdf;
    background-color: #fbfbfb;
}
#topbar {
    margin: 0;
    padding: 0;
}
.blind {
    display: block;
    overflow: hidden;
    position: absolute;
    top: -1000em;
    left: 0;
}
.shop_hm a {
    display: block;
    width: 48px;
    height: 31px;
}
.m, .m2{
    list-style: none;
}
#header /* #은 id선언 한 것*/{
    text-align: center;
    z-index: 100;
    width: 100%;
}
#sitelogo {
    font-family: 'Baloo Tamma', cursive;
    font-size: 100px;
    font-style: italic;
}
#YouSee {
    text-align: center;
}
#Gotop {
    font-size: 20px;
    font-family: 'Anton', sans-serif;
}
#staticone{
    border-radius: 20px;
    border: 0.5px solid #FFA388;
    width: 300px;
    height: 500px;
    background-color: #FAE8EA
}
#statictwo{
    border-radius: 30px;
    border: 0.5px solid #FFA388;
    width: 70px;
    height: 50px;
    background-color: #FAE8EA;
    text-align: center;
}
#statictwoin {
    width: 50px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
#Gologin{
    margin-bottom: 300px;
    width: 300px;
    height: 300px;
}
.loginform /*앞에 .(온점)이 붙은 것은 class전용, 또 하나로 묶어서 사용하는 것이다*/ul {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
.loginform li {
  display: inline;
  float: left;
}
.loginform #loginbutton {
  display: inline;
  float: right;
}
label {
  display: block;
  color: #999;
}
