h1 {
    font-family: 'Baloo Tamma', cursive;
    font-size: 100px;
    font-style: italic;
}
table {
    margin-left: auto;
    margin-right: auto;
}
td {
    border: 2px solid black;
    height: 18.8em;
    width: 18.8em;
}
img {
    width: 18.8em;
    height: 18.8em;
}
#YouSee {
    text-align: center;
}
#Gotop {
    font-size: 20px;
    font-family: 'Anton', sans-serif;
}
#staticone{
    border-radius: 20px;
    border: 0.5px solid #FFA388;
    width: 300px;
    height: 500px;
    background-color: #FAE8EA
}
#statictwo{
    border-radius: 30px;
    border: 0.5px solid #FFA388;
    width: 70px;
    height: 50px;
    background-color: #FAE8EA;
    text-align: center;
}
#statictwoin {
    width: 50px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
#Gologin{
    margin-bottom: 300px;
    width: 300px;
    height: 300px;
}
.loginform ul {
  padding: 0;
  margin: 0;
}
.loginform li {
  display: inline;
  float: left;
}
label {
  display: block;
  color: #999;
}
.cf:before,
.cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
:focus {
  outline: 0;
}
